
@{
    ViewBag.Title = "Trainers";
    Layout = "~/_LayoutUser.cshtml";
}

<div class="main">
    <div class="about_banner_img"><img src="~/images/about_img.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">About Us</h1>
    </div>

    <div class="container">

        <div class="about_trainer">
            <h2 style="color:rgb(169, 0, 241)">Our Trainers</h2>
            <br />
            <div class="row about_box">

                @{
                    try
                    {
                        Class1 c = new Class1();
                        System.Data.DataSet ds = new System.Data.DataSet();
                        ds = c.selectDATA("select * from TrainerProfile");

                        for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                        {
                            string BlogImage = "data:image/jpg;base64," + Convert.ToBase64String((byte[])ds.Tables[0].Rows[i][6]);

                            <div class="col-md-3">
                                <div class="box1">


                                    <div class="box1_left">
                                        <img src="@BlogImage" class="img-responsive" alt="" />
                                        <div class="desc1">
                                            <h3>@ds.Tables[0].Rows[i][1]<br><span class="m_text">@ds.Tables[0].Rows[i][2]</span></h3>
                                            <p>@ds.Tables[0].Rows[i][3]</p>
                                            <div class="coursel_list">
                                                <i class="a_heart"> </i>
                                                <i class="like1"> </i>
                                            </div>
                                            <div class="coursel_list1">
                                                <i class="a_twt"> </i>
                                                <i class="a_fb"> </i>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="box1_right">
                                        <h4>Qualifications</h4>
                                        <p>@ds.Tables[0].Rows[i][4]</p>
                                        <h4>Speciality</h4>
                                        <p class="para1">@ds.Tables[0].Rows[i][5]</p>


                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>




                        }
                    }
                    catch
                    {

                    }


                }

                <div class="clear"></div>




                <br />
                <br />


                <h2 style="color:rgb(169, 0, 241)">Our Dieticians</h2>
                <br />
                <div class="row about_box">
                    <div class="col-md-4">
                        <div class="box1">

                            <div class="box1_left">
                                <img src="~/images/Krishna3.jpg" class="img-responsive" alt="" />
                                <div class="desc1">
                                    <h3>KRISHNA MAYAVAT<br><span class="m_text">Dietician</span></h3>
                                    <p>Strive for progress, not perfection.</p>
                                    <div class="coursel_list">
                                        <i class="a_heart"> </i>
                                        <i class="like1"> </i>
                                    </div>
                                    <div class="coursel_list1">
                                        <i class="a_twt"> </i>
                                        <i class="a_fb"> </i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="box1_right">
                                <h4>Qualifications</h4>
                                <p>B.S Health Education. Certified ACE group and fitness instrutor.</p>
                                <h4>Speciality</h4>
                                <p class="para1">Every week Diet plans.Extensive knowledge of nutrition.</p>
                                <h3 style="color:white">Messenger</h3>
                                <li><a href="https://www.facebook.com/messages/t/krishna.mayavat" style="color:white">Chat</a></li>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box2">
                            <div class="box1_left">
                                <img src="~/images/VIDHI.jpg" class="img-responsive" alt="" />
                                <div class="desc2">
                                    <h3>VIDHI PITRODA<br><span class="m_text">Dietician</span></h3>
                                    <p>When my body shouts ‘STOP’, my mind screams ‘NEVER’.</p>
                                    <div class="coursel_list">
                                        <i class="heart1"> </i>
                                        <i class="like"> </i>
                                    </div>
                                    <div class="coursel_list1">
                                        <i class="twt"> </i>
                                        <i class="fb"> </i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="box1_right">
                                <h4 class="right_text">Qualifications</h4>
                                <p class="right_text1">CPR and First Aid Certification. Medical Exercise Specilist.</p>
                                <h4 class="right_text">Speciality</h4>
                                <p class="right_text2">Cardio Trainer.Motivational speaker training.</p>
                                <h3 style="color:rgb(169, 0, 241)">Messenger</h3>
                                <li><a href="https://www.facebook.com/messages/t/vidhi.pitroda.90" style="color:rgb(169, 0, 241)">Chat</a></li>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box1">
                            <div class="box1_left">
                                <img src="~/images/meet1.png" class="img-responsive" alt="" />
                                <div class="desc1">
                                    <h3>Meet Patel<br><span class="m_text">Dietician</span></h3>
                                    <p>Work hard in silence. Let success be your noise.</p>
                                    <div class="coursel_list">
                                        <i class="a_heart"> </i>
                                        <i class="like1"> </i>
                                    </div>
                                    <div class="coursel_list1">
                                        <i class="a_twt"> </i>
                                        <i class="a_fb"> </i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="box1_right">
                                <h4>Qualifications</h4>
                                <p>CPC Certification. Certified personal tainer. </p>
                                <h4>Speciality</h4>
                                <p class="para1">Motivational speaker training.Group Exercise Instuctor.</p>
                                <h3 style="color:white">Messenger</h3>
                                <li><a href="https://www.facebook.com/messages/t/meet.patel.5680899" style="color:white">Chat</a></li>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>



        @*<div class="login">
            <div class="row login_details">
                <div class="col-md-6">
                    <div class="join">
                        <h3>Why Join ?</h3>
                        <h4> Huge health benefits</h4>
                        <p>Studies show that regular exercise and an increase in strength and cardio fitness levels can help reduce the risk of health concerns and diseases.</p>
                        <div class="btn3">
                            <br />
                            <a href="Register">Join Today</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="join-right">
                        <h3>Why Join ?</h3>
                        <h4> Increased energy levels.Be motivated</h4>
                        <p>One of the side effects of exercise is an increase in energy levels and enhanced mood, due to the release of natural, happy endorphins. There’s no better feeling after a workout getting energised and ready for whatever the day throws at you. </p>
                        <div class="buttons_login">
                            <div class="btn4">
                                <a href="Login">Log In</a>
                            </div>
                            <div class="p-ww">
                                <form>
                                    <input class="date" id="datepicker" type="text" value="View Calender" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'View Calender';}">
                                </form>
                            </div>
                            <div class="clear"></div>
                            <!---strat-date-piker---->
                            <script src="~/js/jquery-ui.js"></script>
                            <script>
                                $(function () {
                                    $("#datepicker").datepicker();
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>*@
        <div class="testimonial">
            <div class="container">
                <i class="quot"> </i>
                <p>“NOTHING COMES EASY, BUT AS LONG AS YOU'RE BREATHING, YOU'RE ALWAYS ONE BREATH AWAY FROM MAKING DREAMS REALITY.MAKE EVERY BREATH COUNT.My goal is to be a contributor and to encourage others as they realize their dreams.”</p>
                <p class="ceo">QUOTE BY - <span class="ceo1">KAI GREENE</span></p>
            </div>
        </div>
    </div>
</div>